
# Supabase (local dev)
# EXPO_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
# EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY="YOUR_LOCAL_SUPABASE_ANON_KEY"

# Supabase (hosted)
EXPO_PUBLIC_SUPABASE_URL="https://wrzgxyhksthgjgewqddn.supabase.co"
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_y0IzPjLq041ev6bnHg9qNg_ZWIFfdjY"

# Stream
