@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";
@source "./node_modules/heroui-native/lib";
@source "./node_modules/@repo/ui";

@theme {
    /* Base colors */
    --color-white: #ffffff;
    --color-black: #000000;
    /* Spaces */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    /* Font sizes */
    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    /* Header */
    --h-height: 56px;
    /* Fonts */
    --font-sans: 'Quicksand-Regular';
}

@layer theme {

    /* Dark theme variables */
    @variant dark {
        --accent: var(--color-white);
        --accent-foreground: var(--color-black);
    }

    /* Light theme variables */
    @variant light {
        --accent: var(--color-black);
        --accent-foreground: var(--color-white);
    }

    .header {
        @apply bg-transparent absolute px-5 w-full flex-row items-end h-header;
    }
}

@utility h-header {
    height: var(--h-height);
}

@utility font-light {
    font-family: 'Quicksand-Light';
    font-weight: 300;
}

@utility font-normal {
    font-family: 'Quicksand-Regular';
    font-weight: 400;
}

@utility font-medium {
    font-family: 'Quicksand-Medium';
    font-weight: 500;
}

@utility font-semibold {
    font-family: 'Quicksand-SemiBold';
    font-weight: 600;
}

@utility font-bold {
    font-family: 'Quicksand-Bold';
    font-weight: 700;
}
