@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";
@source './node_modules/heroui-native/lib';
@source '../../packages/ui/lib';

@layer theme {
    /* Dark theme variables */
    @variant dark {
        --accent: var(--color-white);
        --accent-foreground: var(--color-black);
    }

    /* Light theme variables */
    @variant light {
        --accent: var(--color-black);
        --accent-foreground: var(--color-white);
    }
}
